.today-container {
  display: grid;
  background-color: navy;
  color: black;
  margin: 1em auto 1em auto;
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
}

.grid-item {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
}

hr {
  width: 90%;
}
